rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas Seguras para Producción: permite lectura pública pero bloquea escritura
    match /movies/{movie} {
      allow read: if true;
      allow write: if false; 
    }
    match /series/{serie} {
      allow read: if true;
      allow write: if false;
    }

    // Permitir que cada usuario lea y escriba su propia información
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Reglas para Watch Party (Cine Compartido)
    match /parties/{partyId} {
      // Cualquier usuario puede crear una sala y leerla si tiene el ID único
      allow read, create: if true;
      // Solo permitimos actualizar campos específicos de sincronización para evitar borrados accidentales
      allow update: if request.resource.data.mediaId == resource.data.mediaId;
      allow delete: if false;
    }

    // Regla por defecto: bloquea todo lo demás
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
